#jspsych-gambling-task{
width: 100%;
position: fixed;
left: 1em;
top: 1em;
cursor: none;

}

#prompts {
    margin: 1em 0;
    font-size: 20pt;
    line-height: 25pt;
}


#boxes { 
width: 100%;

}

.box {
    width: 4em;
    height: 4em;
    display: inline-block;
    margin: 5px;
    border: 2px solid black;
}

.choice-btn {
    width: 6em;
    font-size: 20px;
    display: inline-block;
    margin: 0 10%;
    text-align: center;
    padding: 1em 0;
    color: white;
    border: 2px solid black;
    font-weight: bolder;
}


.red{

    background-color: red;
}

.blue{

    background-color: blue;
}


#scorec {
    margin: 50px auto;
    border: black 3px dashed;
    width: 200px;
    padding: 5px;
}

#results {
font-size: 20pt;
line-height: 25px;
font-weight: bolder;
color: green;
}

.yellow{background-color:yellow;}

.gold{background-color:gold;}

.silver{background-color: black  ; 
color: white;
font-weight: bolder;
}



.token{background-color:yellow; border-radius:50%;}

.bet-circle{width:100px;height:100px;
    border:2px solid black;border-radius:50%;
    text-align:center;line-height:100px;
    font-size:24px;
    margin: 50px auto;
    display: block;
}